// 定义全局颜色
$maincolor: rgb(55,160,219) !global;
$pink: rgb(255,63,114) !global;
$skyblue: rgb(55,160,219) !global;

#topnav{width:100%;height:30px;background: rgb(245,245,245);}
#topnav .username{display:inline-block;width:118px;height:30px;
    font-size:12px;line-height:30px;}
#topnav .loginhere , #topnav .reghere{padding-right:7px;
    padding-left:3px;color:$maincolor;font-size:12px;
    border-right:1px solid #ccc;}

#topnav .smalllogo{display:inline-block;width:21px;height:27px;background: url("../img/lzfwww.png") no-repeat;
    background-position:-196px 0px;vertical-align:top;}
#topnav .wb{background-position:-232px 0px;}

#topnav .topnav_right{float:right;font-size:12px;
    text-align:center;padding-top:7px;}
#topnav .topnav_right li{float:left;padding-left:5px;
    padding-right:5px;position:relative;}
#topnav .topnav_right li:not(:nth-child(2)){padding-right:15px;}
#topnav .topnav_right li:not(:last-child){
    border-right:1px solid #ccc;}
#topnav .topnav_right li a{color:$maincolor;}
#topnav .topnav_right li:not(:nth-child(2)) i{display:block;position:absolute;right:3px;top:-7px;
    width:11px;height:28px;
    background: url("../img/lzfwww.png") no-repeat;
    background-position:-337px 0px;}

.mainnav_top{position:fixed;top:0;border:2px solid #efefef;z-index:233;}
/*注意不要让#mainnav有定位，必须用浮动和padding或margin进行页面布局*/
#mainnav{width:100%;height:100px;background: white;}
#mainnav h1{float:left;text-indent:-1234px;background:url("../img/lzfwww.png") no-repeat;width:186px;height:65px;margin-top:23px;}
#mainnav .searchbox{float:left;margin-left:99px;width:620px;height:100px;padding-top:8px;position:relative;}
#mainnav span a{display:inline-block;width:45px;height:22px;background:rgb(246,171,0);text-align:center;font-size:12px;line-height:22px;border-radius:3px;color:white;}
#mainnav span:nth-child(2) a{background:$maincolor;margin-right:400px;}
#mainnav span:nth-child(1) a{margin-left:17px;}
#mainnav input{margin-left:17px;margin-top:2px;width:510px;height:35px;border:3px solid $maincolor;padding-left:12px;}
#mainnav .searchbtn{display:inline-block;width:85px;height:35px;background: $maincolor;line-height:35px;text-align:center;vertical-align:middle;
color:white;position:absolute;right:10px;top:33px;}

#mainnav ul{font-size:12px;margin-top:4px;}
#mainnav ul li{float:left;padding-left:16px;padding-right:13px;}
#mainnav ul li a{color:$maincolor;}
#mainnav ul li:not(:last-child){border-right:1px solid $maincolor;}

#mainnav .tel{float:right;margin-top:13px;width:205px;height:75px;}
#mainnav .tel i{display:inline-block;float:left;width:56px;height:48px;background: url('../img/lzfwww.png') no-repeat;
    background-position:-268px 0px;}
#mainnav .tel span{float:right;display:block;width:145px;height:23px;font-size:20px;color:$maincolor;}
#mainnav .tel p{float:left;width:205px;height:20px;line-height:20px;font-size:13px;color:$maincolor;margin-top:3px;margin-left:3px;}

/*页面最右端功能区代码开始*/
.onclick{background:$pink;}
#asider{position:fixed;right:0px;top:0px;z-index:5;height:700px;
overflow:hidden;}

#asider .functionlist{float:right;width:30px;height:700px;
    background:$skyblue;padding-top:180px;}
#asider .functionlist .shopcart{width:30px;height:140px;font-size:13px;text-align:center;padding-top:33px;border-top:1px solid white;border-bottom:1px solid white;}
#asider .functionlist .shopcart:hover{background:$pink;}
#asider .functionlist .shopcart .shiftbtn{padding-left:10px;padding-right:10px;color:white;cursor:pointer;}
#asider .functionlist .shopcart .goodsqty{
    display:block;width:25px;height:25px;border-radius:50%;
    text-align:center;line-height:25px;color:white;
    background:$pink;
    margin-left:3px;margin-top:6px;}

#asider .contentlist{float:left;width:270px;height:700px;display:none;
    background:rgba(255,255,255,0.9);}
#asider .contentlist h3{margin-left:5px;margin-right:5px;width:260px;height:40px;border-bottom:2px solid $skyblue;color:black;line-height:40px;text-align:center;font-size:13px;}

#asider .contentlist ul{overflow:auto;min-height:130px;width:270px;height:550px;margin-top:6px;}
#asider .contentlist ul li{width:250px;height:115px;margin-bottom:5px;background:#ccc;padding-top:10px;padding-left:10px;margin-left:5px;}
#asider .contentlist ul li img{float:left;width:85px;height:85px;}
#asider .contentlist ul li .title{float:left;width:130px;height:40px;line-height:18px;padding-left:13px;font-size:12px;}
#asider .contentlist ul li .shopprice{float:left;width:150px;height:40px;line-height:40px;font-size:12px;padding-left:12px;}

#asider .contentlist .shopcount{padding-left:10px;width:250px;height:40px;line-height:40px;font-size:12px;color:$skyblue;margin-top:5px;}
#asider .contentlist .shopcount .heji{font-size:18px;font-weight:bold;color:$skyblue;margin-left:33px;}

#asider .contentlist .checkout{display:block;margin:5px;width:260px;height:35px;background:$skyblue;line-height:35px;text-align:center;color:white;font-weight:bold;}
/*页面最右端黑色功能区代码结束*/

#footer{width:100%;}
#footer .container{height:376px;background:url("../img/footer.png") no-repeat;}
/*顶部公共样式结束*/