#topnav{width:100%;height:30px;background: rgb(245,245,245);}
#topnav .username{display:inline-block;width:118px;height:30px;font-size:12px;line-height:30px;}
#topnav a{padding-right:4px;padding-left:3px;font-size:12px;}