// 定义全局颜色
$maincolor: rgb(55,160,219) !global;
$pink: rgb(255,63,114) !global;
#catelist{position:relative;width:100%;height:38px;background: white;border-bottom:3px solid $pink;}
#catelist h3{float:left;width:241px;height:38px;background:$pink;box-shadow:2px 0px 3px #ccc;line-height:38px;font-size:18px;color:white;padding-left:43px;cursor:pointer;}
#catelist .tablist1{
    position:absolute;left:33px;top:38px;width:240px;height:480px;box-shadow:2px 2px 3px #ccc;background:rgb(255,90,133);z-index:133;}
#catelist .tablist1 li{width:240px;height:40px;line-height:40px;font-size:14px;}
#catelist .tablist1 li a{display:block;width:190px;margin-left:23px;height:40px;padding-left:12px;border-bottom:2px dotted white;color:white;}
#catelist .tablist1 li:hover{background: white;}
#catelist .tablist1 li:hover a{color:black;}

#catelist .tablist2 li{float:left;}
#catelist .tablist2 li a{text-align:center;padding-left:40px;padding-right:40px;line-height:38px;}
#catelist .tablist2 li:hover a{color:$pink;}

#banner{width:1250px;height:480px;position:relative;overflow:hidden;}
#banner ul{width:18000px;height:480px;position:absolute;left:0px;top:0px;}
#banner ul li{float:left;}
#banner ul li img{width:1250px;;height:480px;}

/*轮播图框架样式结束*/

#fivelist{width:100%;height:150px;padding-top:10px;background:white;}
#fivelist a{position:relative;display:block;float:left;width:230px;height:139px;}
#fivelist a:not(:last-child){margin-right:12px;}
#fivelist a .move{position:absolute;left:0px;width:232px;height:139px;}

.logototal{width:100%;height:90px;background:white;padding-top:6px;}
.logototal .container{height:90px;background:url("../img/logototal.jpg") no-repeat;}

#logolist{width:100%;height:440px;background:white;}
#logolist ul li{float:left;width:399px;height:220px;overflow:hidden;}
#logolist ul li a{position:relative;display:block;width:399px;height:220px;}
#logolist ul li a img{position:absolute;left:0px;width:410px;height:220px;}

#brandlist{width:100%;height:450px;background:white;}
#brandlist h3{height:50px;line-height:50px;font-size:17px;border-bottom:1px solid #efefef;}
#brandlist .picframe{height:400px;}
#brandlist .picframe .pic_left{position:relative;
    overflow:hidden;display:block;float:left;width:315px;
    height:398px;border-right:1px solid #efefef;}
#brandlist .picframe .pic_left img{position:absolute;left:0px;width:330px;height:398px;}

#brandlist .picframe .pic_center{float:left;width:650px;height:400px;}
#brandlist .picframe .pic_center li{position:relative;overflow:hidden;float:left;width:130px;height:80px;border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
#brandlist .picframe .pic_center li a img{position:absolute;left:0px;width:140px;height:80px;}


#brandlist .picframe .pic_right1{position:relative;overflow:hidden;display:block;float:left;width:235px;height:240px;border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
#brandlist .picframe .pic_right1 img{position:absolute;left:0px;width:240px;height:240px;}

#brandlist .picframe .pic_right2{position:relative;overflow:hidden;display:block;float:left;width:235px;height:160px;border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
#brandlist .picframe .pic_right2 img{position:absolute;left:0px;width:240px;height:160px;}


/*广告位的公共样式*/
.ad0{width:100%;height:135px;background:white;padding-top:15px;}
.ad1 .container{height:120px;background:url('../img/ad1.jpg') no-repeat;}
.ad2 .container{height:120px;background:url('../img/ad2.jpg') no-repeat;}
.ad3 .container{height:120px;background:url('../img/ad3.jpg') no-repeat;}
.ad4 .container{height:120px;background:url('../img/ad4.jpg') no-repeat;}
.ad5 .container{height:120px;background:url('../img/ad5.jpg') no-repeat;}
.ad6 .container{height:120px;background:url('../img/ad6.jpg') no-repeat;}
.ad7 .container{height:120px;background:url('../img/ad7.jpg') no-repeat;}
.ad8 .container{height:120px;background:url('../img/ad8.jpg') no-repeat;}
.ad9 .container{height:120px;background:url('../img/ad9.jpg') no-repeat;}

/*各层的标题栏的统一公共样式*/
.title0{height:50px;line-height:50px;font-size:17px;border-bottom:1px solid #efefef;}

/*各大楼层的样式*/
#clothes ,#foods ,#baby ,#life ,#elec ,#makeup ,#bag ,#sport{width:100%;height:550px;background:white;}

/*左侧栏统一样式*/
.left_box{overflow:hidden;float:left;width:319px;height:500px;
    border-right:1px solid #efefef;border-left:1px solid #efefef;
    border-bottom:1px solid #efefef;}
.left_box ul{width:319px;padding-left:45px;padding-top:14px;}
.left_box ul li{float:left;width:110px;height:31px;text-align:center;line-height:31px;}
.left_box ul li a{font-size:13px;color:grey;}

/*1f 5f 6f统一样式*/
.right_box_sty1{width:880px;height:500px;}
.right_box_sty1 li{position:relative;overflow:hidden;
    float:left;
    border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
.right_box_sty1 li:not(:nth-child(2)){width:220px;height:250px;}
.right_box_sty1 li:nth-child(2){width:440px;height:250px;}
.right_box_sty1 li a img{position:absolute;left:0px;}


/*2f 8f 统一样式*/
.right_box_sty2{width:880px;height:500px;}
.right_box_sty2 li{position:relative;overflow:hidden;float:left;
    border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
.right_box_sty2 li:nth-child(1){width:440px;height:250px;}
.right_box_sty2 li:nth-child(2), 
.right_box_sty2 li:nth-child(3){width:440px;height:125px;} 
.right_box_sty2 li:nth-child(4),
.right_box_sty2 li:nth-child(5),
.right_box_sty2 li:nth-child(6),
.right_box_sty2 li:nth-child(7){width:220px;height:250px;}
.right_box_sty2 li a img{position:absolute;left:0px;}

/*3f 统一样式*/
.right_box_sty3{width:880px;height:500px;}
.right_box_sty3 li{position:relative;overflow:hidden;float:left;
    border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
.right_box_sty3 li:nth-child(1){width:440px;height:250px;}
.right_box_sty3 li:nth-child(2),
.right_box_sty3 li:nth-child(3),
.right_box_sty3 li:nth-child(4),
.right_box_sty3 li:nth-child(5){width:220px;height:250px;}
.right_box_sty3 li:nth-child(6),
.right_box_sty3 li:nth-child(7){width:440px;height:125px;}
.right_box_sty3 li a img{position:absolute;left:0px;}

/*4f*/
.right_box_sty4{width:880px;height:500px;}
.right_box_sty4 li{position:relative;overflow:hidden;float:left;
    border-right:1px solid #efefef;border-bottom:1px solid #efefef;}
.right_box_sty4 li:nth-child(1){width:440px;height:250px;}
.right_box_sty4 li:nth-child(2),
.right_box_sty4 li:nth-child(3),
.right_box_sty4 li:nth-child(4),
.right_box_sty4 li:nth-child(5),
.right_box_sty4 li:nth-child(6),
.right_box_sty4 li:nth-child(7){width:220px;height:250px;}
.right_box_sty4 li a img{position:absolute;left:0px;}

/*7f*/
.right_box_sty5{width:880px;height:500px;}
.right_box_sty5 li{position:relative;overflow:hidden;
    float:left;
    border-right:1px solid #efefef;border-bottom:1px solid #efefef;}

.right_box_sty5 li:nth-child(1){width:440px;height:250px;}
.right_box_sty5 li:nth-child(2){width:440px;height:125px;}
.right_box_sty5 li:nth-child(3),
.right_box_sty5 li:nth-child(4){width:220px;height:125px;}
.right_box_sty5 li:nth-child(5),
.right_box_sty5 li:nth-child(6),
.right_box_sty5 li:nth-child(7),
.right_box_sty5 li:nth-child(8){width:220px;height:250px;}
.right_box_sty5 li a img{position:absolute;left:0px;}



