// 定义全局颜色
$maincolor: rgb(55,160,219) !global;
$pink: rgb(255,63,114) !global;
$skyblue: rgb(51,161,219) !global;
$king: rgb(246,171,0) !global;
#catelist{position:relative;width:100%;height:38px;background: white;background:$skyblue;}
#catelist h3{float:left;width:241px;height:38px;background:$pink;box-shadow:2px 0px 3px #ccc;line-height:38px;font-size:18px;color:white;padding-left:43px;cursor:pointer;}
#catelist .tablist1{display:none;
    position:absolute;left:33px;top:38px;width:240px;height:480px;box-shadow:2px 2px 3px #ccc;background:rgb(255,90,133);z-index:133;}
#catelist .tablist1 li{width:240px;height:40px;line-height:40px;font-size:14px;}
#catelist .tablist1 li a{display:block;width:190px;margin-left:23px;height:40px;padding-left:12px;border-bottom:2px dotted white;color:white;}
#catelist .tablist1 li:hover{background: white;}
#catelist .tablist1 li:hover a{color:black;}

#catelist .tablist2 li{float:left;}
#catelist .tablist2 li a{text-align:center;padding-left:40px;padding-right:40px;line-height:38px;font-size:14px;color:white;}
#catelist .tablist2 li:hover {background:blue;}

#nav_list{width:100%;height:230px;padding-top:23px;background:#efefef;}
#nav_list .title0{width:100px;height:60px;background: #F7F5F5;float:left;font-size:12px;text-align:right;line-height:62px;border-bottom:1px solid #ccc;}
#nav_list .box_size0{width:1100px;height:60px;float:left;padding-left:16px;padding-top:5px;background:white;border-bottom:1px solid #ccc;}

#nav_list .brand{height:62px;background:white;border-top:1px solid #ccc;}
#nav_list .brand .brandbox a{display:inline-block;width:100px;height:50px;}
#nav_list .brand .brandbox a img{border:1px solid #ccc;width:100px;height:50px;}
#nav_list .brand .brandbox a:hover img{border:1px solid orange;}

#nav_list .shopname{height:62px;background:white;}
#nav_list .shopname_box a{padding-left:18px;padding-right:17px;line-height:50px;font-size:12px;}
#nav_list .shopname_box a:hover{color:$skyblue;}

#nav_list .price_area .price_box a{padding-left:18px;padding-right:17px;line-height:50px;font-size:12px;}

#maingoods_list{width:100%;height:1570px;background:#efefef;}
#maingoods_list .option_list{height:33px;background:white;border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin-bottom:15px;}
#maingoods_list .option_list>span,
#maingoods_list .option_list a{position:relative;font-size:12px;display:inline-block;width:80px;height:33px;line-height:33px;border-right:1px solid #ccc;padding-left:20px;}
#maingoods_list .option_list a:first-of-type{padding-left:23px;}
#maingoods_list .option_list a:last-of-type{padding-left:8px;}
#maingoods_list .option_list a i{display:block;width:14px;height:12px;background:url("../img/lzfwww.png") no-repeat;background-position:-365px 0px;position:absolute;right:5px;top:10px;}

#maingoods_list .pagehere p:first-child{width:88px;height:33px;float:left;font-size:12px;line-height:33px;}
#maingoods_list .pagehere p:last-child{width:88px;height:33px;float:left;font-size:12px;line-height:33px;}


#real_page{width:100%;height:80px;background:#efefef;}
#real_page .container{height:80px;background:white;}


#hotsell{padding-top:15px;width:100%;height:450px;background:#efefef;}
#hotsell .hottitle{height:40px;background:$skyblue;line-height:40px;padding-left:18px;margin-bottom:15px;color:white;}

/*数据生成的li列表页的样式开始*/
 .li_style0{width:1200px;}
 .li_style0 ul li{float:left;width:222px;margin-right:20px;margin-bottom:23px;background:white;border:1px solid #ccc;}
 .li_style0 ul li:nth-child(5n){margin-right:0px;}
/*商品图片*/
 .li_style0 ul li a:first-child{display:block;width:200px;height:200px;margin-left:13px;}
 .li_style0 ul li a img{width:200px;height:200px;}
/*商品名称*/
 .li_style0 ul li h3{margin-left:13px;width:200px;height:20px;font-size:15px;line-height:20px;color:$king;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
/*商品描述*/
 .li_style0 ul li h4{margin-left:13px;width:200px;height:43px;font-size:14px;line-height:20px;color:$skyblue;}
 /*各种价格*/
 .li_style0 ul li .unit{float:left;width:17px;height:27px;padding-top:5px;line-height:20px;margin-left:10px;color:$king;}
 .li_style0 ul li .ourprice{float:left;width:33px;height:27px;font-size:18px;padding-top:5px;line-height:20px;color:$king;}
 .li_style0 ul li .listprice{float:left;
width:150px;height:22px;padding-left:4px;margin-top:5px;line-height:22px;font-size:13px;text-decoration:line-through;}
/*商铺名称*/
 .li_style0 ul li h5{float:left;margin-left:13px;width:200px;font-size:14px;height:35px;line-height:35px;}
 /*购物车*/
 .li_style0 ul li .addcar_btn{float:left;display:block;width:110px;height:30px;background:$king;line-height:30px;font-size:12px;text-align:center;color:white;position:relative;}
 .li_style0 ul li .addcar_btn i{display:block;width:19px;height:16px;background:url("../img/lzfwww.png") no-repeat;background-position:-396px 0px;position:absolute;left:3px;top:7px;}
 .li_style0 ul li .focuson{float:left;display:block;width:110px;height:30px;background:$skyblue;line-height:30px;font-size:12px;text-align:center;color:white;position:relative;}
 .li_style0 ul li .focuson span{display:block;width:19px;height:16px;background:url("../img/lzfwww.png") no-repeat;background-position:-425px 0px;position:absolute;left:7px;top:7px;}